<div class="contact-container">
    <div class="contact-card">
      <h1 class="contact-heading">Contact Us</h1>
      <p class="contact-body">Feel free to reach out to us through the following social media channels:</p>
  
      <div class="contact-info">
        <h2 class="contact-subheading">Connect with Us</h2>
        <ul class="social-media-links">
          <li><i class="fas fa-phone-alt"></i> Phone: <a href="tel:+251924741786">0924741786</a></li>
          <li><i class="fab fa-telegram"></i> Telegram: <a href="https://t.me/official_Mintesnot" target="_blank" rel="noopener noreferrer">@official_Mintesnot</a></li>
          <li><i class="fab fa-instagram"></i> Instagram: <a href="https://www.instagram.com/minte7" target="_blank" rel="noopener noreferrer">@minte7</a></li>
          <li><i class="fab fa-facebook"></i> Facebook: <a href="https://www.facebook.com/official.mintesnot/" target="_blank" rel="noopener noreferrer">official.mintesnot</a></li>
          <li><i class="fab fa-tiktok"></i> TikTok: <a href="https://www.tiktok.com/@the.gunners_2024" target="_blank" rel="noopener noreferrer">the.gunners_2024</a></li>
          <li><i class="fas fa-envelope"></i> Email: <a href="mailto:minte12menge@gmail.com">minte12menge@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  